@charset "UTF-8";

/* custom CSS for BMS created by EPAM team */

.ot-setting__description {
  display: none;
  }
  
  .text-small {
  display: none;
  }
  
  .ot-preference-title {
  display: none;
  }

/*undo changes button formatting*/
.ot-preference-actions-undo {
  background-color: white !important; 
  border: 1px solid #A430B5 !important;
  color: #A430B5 !important;
  padding: 10px 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
}

/*Update Preferences button formatting*/
.ot-preference-actions-update {
  background-color:  #A430B5 !important; 
border: none !important;
  color: white !important;
  padding: 10px 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
}

